<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BYU Egypt Excavation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand nav-link text-light font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">BYU Egypt Excavation Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link text-light" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                                }
                            }
                        </li>
                        <li class="nav-item">

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link text-light" asp-area="" asp-controller="Role" asp-action="UserIndex">Users</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="DesertShaftBurials">Desert Shaft Burials</a>
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                                {
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AddDesertBurial">Add Desert Burial</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TombBurials">Tomb Burials</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="ml-5 mr-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br /><br /><br />
    <footer class="border-top text-center p-3" style="position:absolute; bottom:0; width:100%;">
        <div class="container">
            <div class="row">
                <div class="col-6 text-right">
                    <a asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                </div>
                <div class="col-6 text-left">
                    <a href="https://www-sciencedirect-com.erl.lib.byu.edu/science/article/pii/S2352409X15000188">Learn More</a>
                </div>
            </div>
            <br />
            &copy; 2021 — BYU Egypt Excavation Project — Fag el-Gamous Cemetery Database
        </div>
    </footer>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Intex_Remix - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
