<h2>About the Team</h2>

<br />

<div class="row m-2">
    <div class="col-6">
        <img class="rounded mx-auto d-block img-fluid" style="height:300px; width:400px" src="~/KerryMuhlestein.jpg" />
        <br />
        <p>
            Kerry Muhlstein is the Director of the Brigham Young University (BYU) Egypt Excavation Project as well as a professor at the University. He teaches courses on ancient scripture and is a
            renowned scholar. His studies of Ancient Egyptian culture, including findings made at Fag el-Gamous, are well received.
        </p>
    </div>
    <div class="col-6">
        <img class="rounded mx-auto d-block img-fluid" style="height:300px; width:300px" src="~/RPaulEvansJr.png" />
        <br />
        <p>
            R. Paul Evans is an Assistant Professor of Microbiology and Molecular Biology at Brigham Young University (BYU). He is also a published scholar and participates in the BYU Egypt
            Excavation Project.
        </p>
    </div>
</div>